{#
/**
* Copyright 2018 Ayuntamiento de Santiago de Compostela, Entidad Pública Empresarial Red.es
*
* This file is part of the "Open Data Portal of Santiago de Compostela", developed within the "Ciudades Abiertas" project.
*
* Licensed under the EUPL, Version 1.2 or - as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl
*
* Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the Licence for the specific language governing permissions and limitations under the Licence.
*/

/**
 * @file
 * Default theme implementation to display a formatted colorbox image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - url: An URL the image can be linked to.
 * - attributes: Link attributes.
 *
 * Note: getting field name: item.getParent.getName
 *
 * @see template_preprocess_colorbox_formatter()
 *
 * @ingroup themeable
 */
#}

{% if entity and entity.bundle and entity.bundle == 'noticia' %}
  <div class="csc-news-image">
    <a href="{{ url }}"{{ attributes }}>{{ image }} <span class="image-news-title">{{attributes.title|raw}}</span></a>
  </div>
{% else %} 
  <a href="{{ url }}"{{ attributes }}>{{ image }}</a>
{% endif %}
