{#
/**
* Copyright 2018 Ayuntamiento de Santiago de Compostela, Entidad Pública Empresarial Red.es
*
* This file is part of the "Open Data Portal of Santiago de Compostela", developed within the "Ciudades Abiertas" project.
*
* Licensed under the EUPL, Version 1.2 or - as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl
*
* Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the Licence for the specific language governing permissions and limitations under the Licence.
*/

/**
 * @file
 * Default template for cookieconsent.
 *
 * Available variables:
 * - dismiss : The text used on the dismiss button.
 * - message : The message shown by the plugin.
 * - target : The target of the link to your cookie policy. Use to open a link in a new window, or specific frame,
              if you wish.
 * - link : The url of your cookie policy. If it’s set to null, the link is hidden.
 * - learn_more : The text shown on the link to the cookie policy (requires the link option to also be set)
 *
 * @ingroup themeable
 */
#}
<div class="csc-cookie cc_banner cc_container cc_container--open">
    <a href="#null" data-cc-event="click:dismiss" target="_blank" class="cc_btn cc_btn_accept_all">{{ dismiss }}</a>
    <p class="cc_message">{{message}} <a data-cc-if="options.link" target="{{ target }}" class="cc_more_info" href="{{ link }}">{{ learn_more }}</a></p>
</div>
